/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #22b946;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#642bff, #ff22e6);
}


/* Currently not added this image on webpage */
.externalBackgroundImage {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('./assets/image/home/bgImg.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    z-index: -1;
}


/* Home -> div -> div -> div -> div => Added style on button  */
.homeBtnHover {
    color: black;
    background-color: skyblue;
    border: 2px solid skyblue;
}

.homeBtnHover:hover {
    color: white;
    background-color: #171c28;
    border: 2px solid white;
}


/* About page */
.aboutLargeIcons {
    height: 140px;
    width: 200px;
    box-shadow: rgba(114, 37, 208, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.aboutLargeIcons:hover {
    border: 1px solid blueviolet;
    transition-duration: 0.5s;
}

.aboutLargeIcons i {
    font-size: 3rem;
}

.aboutHeading:hover {
    border-bottom: 1px solid white;
    transition-duration: 0.5s;
}


/* Education */
.education-certificate-heading {
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: Sedan SC, serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.education-certificate-heading::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.education-certificate-heading:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.education-certificate-heading:hover {
    
    text-decoration: underline;
    transition-duration: 0.5s;
}

.educationCertificates {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(5, 55, 129);
    opacity: 0.7;
    height: 13rem;
    width: 20rem;
}

.educationCertificates img {
    height: 5rem;
    width: 16rem;
}
.educationCertificates div {
    display: none;
}
.educationCertificates:hover div {
    display: flex;
    opacity: 1;
}

.educationCertificates:hover {
    opacity: 0.2;
}



/* Project Page */

.project-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(60, 55, 102, 0.3) 0px 30px 60px -30px, rgba(68, 140, 212, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(1 32 38);
}


/* Experience */
.experienceGradient {
    background-image: linear-gradient(cadetblue, lightblue);
}

.experienceGradient:hover {
    background-image: linear-gradient(rgb(185, 104, 37), rgb(168, 218, 54));
}

.experienceShadow:hover {
    box-shadow: rgba(253, 252, 252, 0.89) 0px 14px 28px, rgba(170, 167, 167, 0.747) 2px 2px 2px;
}